<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/_fonts %>
    </head>
    <body>

        <% include ../partials/_testimonial %>

        <% include ../partials/_cta %>

        <% include ../partials/_filterable-content %>

    </body>
</html>